body {
	background: #fff url('images/backblack.jpg') repeat;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444;
}

h1	{
	height: 12%;
	width: 20%;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #333 none repeat-x scroll left top;
}

td {
	background: #ddd;
	border-bottom: 1px solid #fff;
}

code, blockquote {
	display: block;
	border-left: 5px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #ddd;
	border: none;
}
blockquote {
	border-left: 5px solid #4E67C2;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #666;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a {
	color: #111;
}

a:focus {
	outline: none;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ddd;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #999;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
}

form input.formbutton {
	border: none;
	background: #4E67C2;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Segoe UI;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform p {
	margin: 5px 0;
}

form.searchform input.s {
	border: 1px solid #ccc;
}

span.required {
	font-family: Segoe UI;
	color: #ff0000;
}


h7{
	padding-left: 770px;
	color: #FFC000;
	display: block;
	font-family: Segoe UI;
	font-size: 15px;
}

h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #929292;
}

h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #333333;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin:0 auto;
	padding: 0;
}

#header {

	height: 210px;
}

#header h1  {
	padding-top: 45px;	
	padding-left: 4px;	
}

#header h2 {
	margin-left: 160px;
	margin-top: -30px;
}

#nav {
	background: #fff url('images/blackalu.jpg') repeat-x scroll top;
	height: 60px;
	width: 960px;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 70px;
}

#nav ul li {
	float: left;
	display: block;
	padding: 0;

}



#nav ul li a {
	color: #FFC000;
	display: block;
	font-family: Segoe UI;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 2px;
	padding: 22px 20px 16px;
	text-decoration: none;
	border-right: 1px solid #666;
	float: left;
}

#projekt {
	background: #FFC000;
	color: black ;
}

#nav ul li a:hover {
	background: #FFC000;
	color: black;
}

#body {
	background: #fff none repeat-y scroll 0 0;
	margin:0 auto;
	padding: 30px 15px;
	width: 930px;
}

#content {
	float:right;
	/*hyphens: auto; 
    text-align: justify;*/
	width: 605px;
	margin: 0;
	padding-left: 20px;
	border-left: 1px solid #ddd;
}

.sidebar {
	
	width: 280px;
	padding: 0;
	float: left;
}


.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 6px 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13px;
	color: #666;
}

.sidebar li ul li a {
	font-weight: normal;
	color: #333;
}

.sidebar li ul.blocklist li {
	padding: 0;
	display: inline;
}

.sidebar li ul.blocklist li a {
	display: block;
	letter-spacing: 1px;
	padding: 7px 8px;
	background: #fff url('images/blackalu.jpg') repeat-x scroll top;
	color: #FFC000;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc;
	text-decoration: none;
}


.sidebar li ul.blocklist li a:hover {
	color: #929292;
}

.sidebar li ul li a:hover {
	color: #333;
}

.sidebar h4 {
	color: #333;
	font-family: Segoe UI;
	font-size:18px;
	letter-spacing: 0;
	margin: 0;
	padding: 5px 3px;
	font-weight: normal;
}

.clear {
	clear: both;
}

#footer {
	width: 960px;
	margin:0 auto;
}

.footer-content {
	background: #fff url('images/blackalu.jpg') repeat-x scroll top;
	padding: 20px 5px;
}

#footer p {
	text-align: center;
	color: #FFC000;
	font-size: 12px;
	font-family: Segoe UI;;
	margin: 0;
	padding: 0;
}

#footer p a {
	color: #FFC000;
}

/****************************************************************************************/

/* Galerie*/

#slideshow-wrap {
    display: block;
    height: 320px;
    min-width: 260px;
    max-width: 500px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    margin-top: 12px;
	margin-bottom: 20px;
	margin-right: 55px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 470%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

#slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: -46px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-family: Segoe UI;
    font-size: 25px;
    color: rgb(255,255,240);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8);
}

label.arrows:hover { opacity: 1 }

label.arrows:active { margin-top: -23px }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }

input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px }

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    font-family: Segoe UI;
    z-index: 1000;
}

.description input { visibility: hidden }

.description label {
    font-family: Segoe UI;
    background-color: rgba(255,255,240,1);
    position: relative;
    left: -17px;
    top: 00px;
    width: 40px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: rgb(20,20,20);
}

#slideshow-inner>ul>li:hover .description label { opacity: 1 }

.description input[type=checkbox]:checked~label { opacity: 1 }

.description .description-text {
    background-color: rgba(255,255,230,.5);
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    top: -35px;
    z-index: 4;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: rgb(20,20,20);
}

.description input[type=checkbox]:checked~.description-text { opacity: 1 }